<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.tradingplatform.m77-6-shadow</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/vinay.hatti/TradingPlatform/scripts/m77_6_shadow/run_daily_shadow_collector.sh</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/vinay.hatti/TradingPlatform</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
			<integer>2</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>3</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>4</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>6</integer>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>/Users/vinay.hatti/TradingPlatform/logs/m77_6_shadow/launchd.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/vinay.hatti/TradingPlatform/logs/m77_6_shadow/launchd.err.log</string>
	<key>ProcessType</key>
	<string>Background</string>
</dict>
</plist>
